.Root[attr-theme=Light] {
    --main-bg-color: #eeeeee;
    --second-bg-color: #dddddd;
    --main-color: #4b4b4b;
    --main-font: Ubuntu;

    background: var(--main-bg-color);

    select,
    option {
        height: var(--medium-font-size);
        font-size: var(--small-font-size);
        background: var(--second-bg-color);
        color: var(--main-color);
    }

    .Decoration {
        background: url(../assets/images/noise-light.jpg)  no-repeat;
        background-size: 100% 100%;
    }

}

.Root[attr-theme=Dark] {
    --main-bg-color: #b4b4b4;
    --second-bg-color: #4b4b4b;
    --main-color: #eeeeee;
    --main-font: Ubuntu;

    background: var(--main-bg-color);

    select,
    option {
        height: var(--medium-font-size);
        font-size: var(--small-font-size);
        background: var(--second-bg-color);
        color: var(--main-color);
    }

    .Decoration {
        background: url(../assets/images/noise-dark.jpg)  no-repeat;
        background-size: 100% 100%;
    }

    

}