.Root[attr-theme=Light] {
    --main-bg-color: #EEE;
    --second-bg-color: #E6E6E6;
    --main-color: #000;
    --main-font: Ubuntu;

    background: var(--main-bg-color);

    select,
    option {
        height: var(--medium-font-size);
        font-size: var(--small-font-size);
        background: var(--main-bg-color);
        color: var(--main-color);
    }

}

.Root[attr-theme=Dark] {
    --main-bg-color: #444;
    --second-bg-color: #3C3C3C;
    --main-color: #FFF;
    --main-font: Ubuntu;

    background: var(--main-bg-color);

    select,
    option {
        height: var(--medium-font-size);
        font-size: var(--small-font-size);
        background: var(--main-bg-color);
        color: var(--main-color);
    }

}